<a href="https://colab.research.google.com/github/sakshitiwari1234/SKLEARN_PYTHON/blob/main/Sklearn_1_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/CAR DETAILS FROM CAR DEKHO.csv")

In [3]:
data

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [4]:
X = data.drop('selling_price', axis=1)

In [6]:
 y= data['selling_price']

In [7]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [8]:
X.shape

(4340, 7)

In [9]:
y.shape

(4340,)

In [10]:
# data.iloc[]

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [14]:
X_train

,name,year,km_driven,fuel,seller_type,transmission,owner
227,Mahindra Scorpio S11 BSIV,2017,20000,Diesel,Individual,Manual,First Owner
964,Maruti Swift Dzire VDI,2018,50000,Diesel,Individual,Manual,First Owner
2045,Maruti Alto 800 LXI,2013,25000,Petrol,Individual,Manual,Second Owner
1025,Chevrolet Beat Diesel LS,2011,70000,Diesel,Individual,Manual,First Owner
4242,Maruti Vitara Brezza LDi Option,2017,72000,Diesel,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...
3444,Toyota Innova 2.5 G (Diesel) 8 Seater BS IV,2006,50000,Diesel,Individual,Manual,First Owner
466,Tata Indica Vista Quadrajet LX,2011,80000,Diesel,Individual,Manual,First Owner
3092,Maruti Ciaz VDi Plus SHVS,2016,51000,Diesel,Dealer,Manual,First Owner
3772,Maruti Ertiga VDI,2013,80000,Diesel,Individual,Manual,First Owner
860,Hyundai Santro Xing GL Plus,2013,80000,Petrol,Individual,Manual,First Owner

In [17]:
X_test.shape

(868, 7)

In [19]:
y_train

227     1500000
964      500000
2045      92800
1025      95000
4242     685000
         ...
3444     500000
466      133000
3092     665000
3772     250999
860      175000
Name: selling_price, Length: 3472, dtype: int64

In [20]:
y_test

3978    165000
1448    250000
2664    120000
17      450000
1634    730000
         ...
3468    130000
3164    350000
416     150000
1616    650000
2480    575000
Name: selling_price, Length: 868, dtype: int64